body{
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/symphony.png");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 18px;
}

tr img{
    border-radius: 25%;
}

fieldset{
    max-width: 800px;
}

legend{
    font-size: 20px;
}

.homepage-links{
    display: block;
}

button{
    font-size: 20px;
    background-color: rgb(221, 32, 48)
}

.range{
    font-size: 25px;
}

.delivery{
    padding: 20px;
}

.index-content{
    margin-top: 80px;
}

.index-content span{
    margin-top: 40px;
    display: block;
}

a:hover{
    color: red;
    font-size: 20px;
}